{% load i18n %}
{% load rest_framework %}

<div class="navbar navbar-static-top navbar-default">
    <div class="container">
    <span>
        {% block branding %}
            <a class='navbar-brand' rel="nofollow" href='/'>
                Ceres API <small>V.{{version}}</small>
            </a>
        {% endblock %}
    </span>
    <ul class="nav navbar-nav pull-right">
        {% block userlinks %}
            {% if user.is_authenticated %}
                {% optional_logout request user %}
            {% else %}
                {% optional_login request %}
            {% endif %}
        {% endblock %}
    </ul>
    </div>
</div>
